@media (width >= 500px){
    .footer{
        display: block;
    }.images{
        display: block;
    }
    .imagesdesk{
        display: none;
        position: absolute;
        left: 0;
    }.footerdesk{
        display: none;
        position: absolute;
        top: 77%;
        left: 0;
    }.abs3{
        left: 87%;
        top: 85%;
    }.abs1{
        display: none;
    }.disn{
        position: absolute;
        display: block;
        top: 74%;
        left: 0;
    }
    .body{
        overflow: hidden;
    }
}


@media (width >= 1440px){
    .footer{
        display: none;
    }.images{
        display: none;
    }.disn{
        display: none;
    }
    .imagesdesk{
        display: block;
        position: absolute;
        left: 0;
    }.footerdesk{
        display: block;
        position: absolute;
        top: 77%;
        left: 0;
    }.abs3{
        left: 65%;
        top: 45%;
    }
    .body{
        overflow: hidden;
    }
    .days,.hours,.minutes,.seconds{
        color: #FB5E84;
        /* text-align: center; */
        font-family: 'Red Hat Text';
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: 71px;
        letter-spacing: -2.4px;
        width: 104px;
        height: 71px;
    }
    h6{
        color: #8385A9;
        /* text-align: center; */
        font-family: 'Red Hat Text';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 5.919px;
        width: 148px;
        height: 18px;
        /* text-align: center; */
    }
    .countdown{
        column-gap: 15px;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    h1{
        color: #FFF;
        /* text-align: center; */
        font-family: 'Red Hat Text';
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 7.5px;
        text-transform: uppercase;
        width: 439px;
        height: 29px;
        margin-left: 100%;
        transform: translateX(-125%);
    }
    .noga{
        margin-left: 15px;
    }
    .nog{
        margin-left: 15px;
    }
    .no{
        margin-left: 15px;
    }
    .n{
        margin-left: 15px;
    }
}
@media (width >= 1920px){
    .footer{
        display: none;
    }.images{
        display: none;
    }.disn{
        display: none;
    }
    .imagesdesk{
        display: block;
        position: absolute;
        left: 15%;
    }.footerdesk{
        display: block;
        position: absolute;
        top: 80%;
        left: 10%;
    }.abs3{
        left: 65%;
        top: 45%;
    }
    .body{
        overflow: hidden;
    }
}